/* variables / configs */
:root {
    /* --main-color: #fbd22b;
    --second-color: #555557;
    --third-color: white; */
    --main-color: #fca311;
    --second-color: #14213d;
    --third-color: white;
    --gray-color: #434345;
    /* --main-color: #F19953;
    --second-color: #2660A4;
    --third-color: white; */

}

/* fonts */
@font-face {
    font-family: "Shabnam";
    src: url("../source/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Medium-FD.ttf") format('truetype');
}

* {
    font-family: Shabnam;
}

/* styles */
#profile {
    padding-top: 4%;
    background-color: var(--second-color);
    width: 100%;
    height: 205px;
    z-index: 1;
    position: relative;

}

#prof-ico {
    width: 100%;
    height: auto;
    margin-right: 15%;

}

#name {
    padding-right: 2%;
    padding-bottom: 0%;
    color: white;
    font-size: 30px;
}

#heading {
    border-bottom: 5px solid var(--main-color);
    margin-right: 0px;
    margin-left: 0;

}

#side {
    min-height: 115px;
    background: var(--main-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    margin-bottom: 65px;
}

#side>span:first-child {
    background-color: var(--second-color);
    height: fit-content;
    position: relative;
    top: -8px;
    padding-bottom: 12px;
    border-radius: 0px 0px 20px 20px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 3px 40px -3px black;
    z-index: 0;
    
}

#side>.info:last-child {
    padding-bottom: 40px;
}

.icon {
    height: auto;
    width: 30px;
}

.info {
    display: flex;
    align-items: center;
    /* margin-right: 35%; */
    padding-right: 29% !important;
    font-size: 15px;
    margin-top: 2% !important;
}

.info>span:first-child {
    margin-left: 5%;
    width: 40px;
}

.info>span:first-child>i {
    font-size: 213%;

    margin-left: auto !important;
    margin-left: auto !important;
}



.info p {
    width: fit-content;
    display: inline;
}


.info_material span:first-child {
    color: var(--main-color);
}

.info_material span:last-child {
    /* font-size: 12px; */
    font-size: var(--bs-body-font-size);
    color: #c8c8c8;
}

#sidebar {
    background-color: var(--second-color);
    padding: 0;
}

#skills {
    color: var(--bs-body-color);
}

.section {
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 60%;
    height: 45px;
    padding-right: 20px;
}



.triangle {

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 70px 45px 0;
    border-color: transparent var(--third-color) transparent transparent;
    transform: rotate(0deg);
}

.section .circle {
    width: 90px;
    height: 90px;
    background-color: white;
    transform: scale(1.25) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section>.circle>i {
    width: 100%;
    text-align: center;
    font-size: 55px;

}

.section>p {
    text-align: center;
    font-size: 25px;
    margin-right: 25px;

}

.section {
    margin-bottom: 10%;
}

.skill {
    color: var(--third-color);
    height: 40px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 4%;
    margin-bottom: 4%;
}

.skill>div:first-child>p {
    line-height: 2;
    text-align: center;
    font-size: 20px;
}

.skill>div:last-child>.progress {
    height: 30px;
}

.progress-bar {
    font-size: 16px;
}

.box {
    background-color: #f7f7f7;
    ;
}

.property-item {
    padding-top: 4%
}

.property-item .icon {
    background-color: var(--gray-color);
    font-size: 28px;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.property-item .col-1{
    margin-left: 1%;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    /* margin-bottom: 2%; */
}

.project {
    padding-top: 35px;
}

.project-info {
    color: #7e7e7e;
    line-height: 34px;

}

.category {
    margin-top: 30px;
}

.experience-info {
    direction: ltr;
}

.experience {
    padding-left: 75px;
}