/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* displays */
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d-block {
    display: block;
}

.d-grid {
    display: -ms-grid;
    display: grid;
}

.d-inline {
    display: inline;
}

.d-none {
    display: none;
}

.circle {
    border-radius: 100%;
}







